@import "../omarchy/current/theme/swayosd.css";

window#osd,
window,
#osd,
.osd {
  border-radius: 24px;
  opacity: 0.97;
  border: 2px solid @border-color;
  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;
  color: @label;
}

image {
  color: @image;
}

progressbar,
trough,
progress,
progressbar trough,
progressbar progress {
  border-radius: 12px;
}

progress {
  background-color: @progress;
}
